
@{
    ViewBag.Title = "Hệ Thống Quản Lý Hồ Sơ Công Dân Điện Tử";
    Layout = "~/Areas/Citizen/Views/Shared/_Layout.cshtml";
}

<div class="sen">
    <div class="dieubacday">
        <h4 class="text-uppercase dbd-tieu-de">6 Điều bác hồ dạy công an nhân dân</h4>
        <menu class="list-dbhd">
            <li>Đối với tự mình, phải cần, kiệm, liêm, chính</li>
            <li>Đối với đồng sự, phải thân ái giúp đỡ</li>
            <li>Đối với Chính phủ, phải tuyệt đối trung thành</li>
            <li>Đối với nhân dân, phải kính trọng, lễ phép</li>
            <li>Đối với công việc, phải tận tụy</li>
            <li>Đối với địch, phải cương quyết, khôn khéo.</li>
        </menu>
    </div>
</div>

<div class="dichvu">
    <h3>Các Dịch Vụ Của Hệ Thống: </h3>

</div>

<div class="after-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <!-- after banner item -->
                <div class="ab-item">
                    <!-- heading -->
                    <img class="tracuu" src="~/Content/img/sevicer/TraCuu.png" alt="ảnh">
                    <h3>Quản Lý Thông Tin Cá Nhân</h3>
                    <!-- paragraph -->
                    <p>Được hỗ trợ truy vấn thông tin của cá nhân, tổ chức lưu trữ tại các Cơ sở dữ liệu.</p>

                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <!-- after banner item -->
                <div class="ab-item">
                    <!-- heading -->
                    <img class="xuly" src="~/Content/img/sevicer/Xuly.png" alt="ảnh">
                    <h3>Xử Lý Các Yêu Cầu</h3>
                    <!-- paragraph -->
                    <p>Gửi các yêu cầu xử lý thông qua hệ thống, không cần gặp mặt trực tiếp.</p>

                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <!-- after banner item -->
                <div class="ab-item">
                    <!-- heading -->
                    <img class="danhgia" src="~/Content/img/sevicer/Danhgia.png" alt="ảnh">
                    <h3>Đánh Giá Tới Hệ Thống</h3>
                    <!-- paragraph -->
                    <p>Đánh giá sự hài lòng trong giải quyết thủ tục hành chính, hoặc góp ý về hệ thống.</p>

                </div>
            </div>
        </div>
    </div>
</div>


