 
@{
    ViewBag.Title = "Dịch Vụ Công Trực Tuyến";
    Layout = "~/Views/Shared/_LayoutCD.cshtml";
}

<div class="Content-yc">
    <div class="title-yc">
        <h4>Dịch vụ công trực tuyến</h4>
    </div>
    <div class="tthc-list-item-detail">
        <ul class="list-tthc">
            <li>
                <i class="icon-tthc"></i>
                <a href="#" class="tthc-name" style="font-size: 18px;">Thủ tục giải quyết khiếu nại lần đầu tại cấp tỉnh</a>
            </li>
            <li>
                <i class="icon-tthc"></i>
                <a href="~/Required/EditProfile" class="tthc-name" style="font-size: 18px;">Chỉnh sửa thông tin cá nhân</a>
            </li>
            <li>
                <i class="icon-tthc"></i>
                <a href="#" class="tthc-name" style="font-size: 18px;">Thủ tục cấp Giấy xác nhận tình trạng hôn nhân</a>
            </li>
            <li>
                <i class="icon-tthc"></i>
                <a href="#" class="tthc-name" style="font-size: 18px;">Xác nhận thông tin về nơi cư trú</a>
            </li>
        </ul>
    </div>
</div>


