
@{
    ViewBag.Title = "Location";
    Layout = "~/Areas/Citizen/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center; margin-top: 50px;">Xác nhận thông tin về nơi cư trú</h2>
<input type="checkbox" id="expand-checkbox" class="expand-checkbox">
<label for="expand-checkbox" class="expand-label" style="font-size: 20px;">Trình tự thực hiện</label>
<div class="expandable-content" style="text-align: justify; margin-left: 50px; margin-right: 50px;">
    <hr />
    <p>- Bước 1: Cá nhân, tổ chức chuẩn bị hồ sơ theo quy định của pháp luật.</p>
    <p>- Bước 2: Cá nhân, tổ chức nộp hồ sơ tại Công an cấp xã.</p>
    <p>- Bước 3: Khi tiếp nhận hồ sơ xác nhận thông tin về cư trú, cơ quan đăng ký cư trú kiểm tra tính pháp lý và nội dung hồ sơ:</p>
    <p>+ Trường hợp hồ sơ đã đầy đủ, hợp lệ thì tiếp nhận hồ sơ và cấp Phiếu tiếp nhận hồ sơ và hẹn trả kết quả (mẫu CT04 ban hành kèm theo Thông tư số 66/2023/TT-BCA) cho người đăng ký;</p>
    <p>+ Trường hợp hồ sơ đủ điều kiện nhưng chưa đủ hồ sơ thì hướng dẫn bổ sung, hoàn thiện và cấp Phiếu hướng dẫn bổ sung, hoàn thiện hồ sơ (mẫu CT05 ban hành kèm theo Thông tư số 66/2023/TT-BCA) cho người đăng ký;</p>
    <p>+ Trường hợp hồ sơ không đủ điều kiện thì từ chối và cấp Phiếu từ chối tiếp nhận, giải quyết hồ sơ (mẫu CT06 ban hành kèm theo Thông tư số 66/2023/TT-BCA) cho người đăng ký.</p>
    <p>- Bước 4: Căn cứ theo ngày hẹn trên Phiếu tiếp nhận hồ sơ và hẹn trả kết quả để nhận thông báo kết quả giải quyết thủ tục đăng ký cư trú (nếu có).</p>

</div>
<hr />
<h3 style="margin-left: 50px;">Thành phần hồ sơ</h3>
<table class="table-lh" style="margin-bottom: 50px;">
    <thead>
        <tr>
            <th>Tên giấy tờ</th>
            <th>Mẫu đơn, tờ khai</th>
            <th>Số lượng</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Tờ khai thay đổi thông tin cư trú (Mẫu CT01 ban hành kèm theo Thông tư số 66/2023/TT-BCA).</td>
            <td><a href="~/Content/file/file3.doc" download="Mẫu CT01_66.doc">Mẫu CT01_66.doc</a></td>
            <td>Bản chính: 1 - Bản sao: 0</td>
        </tr>
    </tbody>
</table>
<hr />
<div style="margin-left: 50px; margin-bottom: 20px;">
    <h3>Cơ quan thực hiện</h3>
    <p>Công an Xã</p>

</div>
<hr />
<div style="margin-left: 50px; margin-bottom: 20px;">
    <h3>Yêu cầu, điều kiện thực hiện</h3>
    <p>Không</p>
</div>
<div style="margin-left: 60px; margin-top: 30px;">
    @Html.ActionLink("Quay lại", "Index")

</div>

