
@{
    ViewBag.Title = "Thông Tin Lãnh Đạo Nhà Nước";
    Layout = "~/Views/Shared/_LayoutCD.cshtml";
}

<div class="Content">
    <ul>
        <li>
            <a href="~/MainCD/ChinhPhuDuongNhiem" target="_self">
                <span class="province-name" style="font-size: 20px">Chính phủ đương nhiệm</span>
            </a>
        </li>
        <li>
            <p style="font-size: 20px">Các tỉnh, Thành phố:</p>
            <ul class="province-list ul-col-3">

                <li class="item">
                    <a href="#" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Thành phố Hà Nội</span>
                    </a>
                </li>

                <li class="item">
                    <a href="#" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Thành phố Hồ Chí Minh</span>
                    </a>
                </li>

                <li class="item">
                    <a href="#" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh An Giang</span>
                    </a>
                </li>

                <li class="item">
                    <a href="#" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Bà Rịa - Vũng Tàu</span>
                    </a>
                </li>

                <li class="item">
                    <a href="#" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Bạc Liêu</span>
                    </a>
                </li>

                <li class="item">
                    <a href="#" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Bắc Giang</span>
                    </a>
                </li>

                <li class="item">
                    <a href="#" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Bắc Kạn</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1164" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Bắc Ninh</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1165" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Bến Tre</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1166" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Bình Dương</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1337" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Bình Định</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1338" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Bình Phước</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1339" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Bình Thuận</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1340" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Cao Bằng</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1341" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Cà Mau</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1342" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Thành phố Cần Thơ</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1344" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Thành phố Hải Phòng</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1345" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Thành phố Đà Nẵng</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1346" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Gia Lai</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1347" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Hòa Bình</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1348" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Hà Giang</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1349" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Hà Nam</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1350" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Hà Tĩnh</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1351" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Hưng Yên</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1352" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Hải Dương</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1353" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Hậu Giang</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1354" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Điện Biên </span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1355" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Đắk Lắk</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1356" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Đắk Nông</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1357" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Đồng Nai</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1358" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Đồng Tháp</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1359" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Khánh Hòa</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1360" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Kiên Giang</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1361" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Kon Tum</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1362" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Lai Châu</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1363" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Long An</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1364" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Lào Cai</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1365" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Lâm Đồng</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1366" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Lạng Sơn</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1367" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Nam Định</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1368" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Nghệ An</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1369" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Ninh Bình</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1370" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Ninh Thuận</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1371" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Phú Thọ</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1372" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Phú Yên</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1373" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Quảng Bình</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1374" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Quảng Nam     </span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1375" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Quảng Ngãi</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1376" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Quảng Ninh</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1377" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Quảng Trị</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1378" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Sóc Trăng</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1379" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Sơn La</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1380" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Thanh Hóa</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1381" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Thái Bình</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1382" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Thái Nguyên</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1383" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Thừa Thiên - Huế</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1384" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Tiền Giang</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1385" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Trà Vinh</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1386" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Tuyên Quang</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1387" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Tây Ninh</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1388" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Vĩnh Long</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1389" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Vĩnh Phúc</span>
                    </a>
                </li>

                <li class="item">
                    <a href="thong-tin-tinh-thanh?city=1391" target="_self">
                        <span class="icon"></span>
                        <span class="province-name">Tỉnh Yên Bái</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>

