
@{
    ViewBag.Title = "Hệ Thống Quản Lý Hồ Sơ Công Dân Điện Tử";
    Layout = "~/Views/Shared/_LayoutCD.cshtml";
}

<div class="sen">
    <div class="dieubacday">
        <h4 class="text-uppercase dbd-tieu-de">6 Điều bác hồ dạy công an nhân dân</h4>
        <menu class="list-dbhd">
            <li>Đối với tự mình, phải cần, kiệm, liêm, chính</li>
            <li>Đối với đồng sự, phải thân ái giúp đỡ</li>
            <li>Đối với Chính phủ, phải tuyệt đối trung thành</li>
            <li>Đối với nhân dân, phải kính trọng, lễ phép</li>
            <li>Đối với công việc, phải tận tụy</li>
            <li>Đối với địch, phải cương quyết, khôn khéo.</li>
        </menu>
    </div>
</div>



